@tailwind base;
@tailwind components;
@tailwind utilities;


.active {
  @apply bg-amber-500;
}

body {
  background-color: white;
  background-image: url('/public/bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;

}